<header>
    <h1>Inventory Application</h1>
    <div>
        <h2>
            <a href="/developers">Developers</a>
        </h2>
        <h2><a href="/categories">Categories</a></h2>
    </div>
</header>
