<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {title:"Add category"}) %>
    <body>
        <h1>Add category</h1>
        <form action="/categories/add" method="post">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" />
            <label for="image">Image</label>
            <input type="file" accept="image/*" name="image" id="image" />
            <button type="submit">Submit</button>
        </form>
        <%-include("../partials/errors",{errors:locals?.errors})%>
         <a href="/">Return</a>
    </body>
</html>
