<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {title:"Add developer"}) %>
    <body>
        <%-include("../partials/header")%>
        <main>
            <nav class="sub-header-container">
                <h3>Add Developer Form</h3>
                <div>
                    <a href="/developers">Return</a>
                </div>
            </nav>
            <%-include("../partials/developerForm",{name:locals?.name,action:"/developers/add",errors:locals?.errors})%>
        </main>


    </body>
</html>
