<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head", {title:"Update Game"}) %>
    <body>
        <%-include("../partials/header")%>
        <main>
            <nav class="sub-header-container">
                <h3>Update Game Form</h2>
                <div>
                    <a href="/">Return to Main Menu</a>
                </div>
            </nav>
            <%-include("../partials/addGameForm", {action:"",buttonText: "Update Game", allCategories, allDevelopers,developersIds:locals?.developersIds,categoriesIds:locals?.categoriesIds})%>

        </main>
    </body>
</html>
